.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-weight: bold;
  height: 50px;
}

.corner{
  display: flex;
  vertical-align: middle;
  margin:1.5vh
}

.Logo{
  max-height: 5vh;
}

.title-navbar{
  padding-left: 2vh;
  font-size: 1.5em;
}
