.tasklist {
  padding: 0.5rem;
  background-color: #bbbbbb;
  border-radius: 0.313rem;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.tasklist .title {
  padding: 0.25rem;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
}

.tasklist .content {
  padding: 16px 0.25rem;
  display: flex;
  flex-direction: column;
}

.tasklist .content .empty-list {
  text-align: center;
  border: 1px dashed white;
  border-radius: 0.25rem;
  padding: 0.25rem;
}

.tasklist .btn {
  margin-top: 0.5rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  background: none;
  border: none;
  border-radius: 0.188rem;
  color: white;
  background: #a3a3a3;
  transition: background-color 0.3s;
}

.tasklist .btn:hover {
  background-color: #818181;
  cursor: pointer;
}

.tasklist .btn img {
  width: 10.313rem;
  height: 10.313rem;
  margin-right: 0.25rem;
}